.s-info-container {
  width: 15rem;
  height: 16.04rem;
  margin: 0.4rem 0;
}
.s-info-container .s-info ul {
  width: 8.96rem;
  height: 13.6rem;
  float: left;
}
.s-info-container .s-info ul li {
  width: 8.96rem;
  margin-bottom: 0.48rem;
}
.s-info-container .s-info ul li:nth-child(1) {
  font-size: 0.92rem;
  color: #111111;
}
.s-info-container .s-info ul li:nth-child(3) p {
  color: #494949;
}
.s-info-container .s-info ul li:nth-child(4) {
  color: #00B600;
}
.s-info-container .s-info .s-info-img {
  margin-top: 2.08rem;
  display: block;
  width: 4.08rem;
  height: 6.08rem;
  float: right;
}
.s-info-container .s-info .s-info-img img {
  width: 4.08rem;
  height: 6.08rem;
}
.s-info-container .s-info-bottom {
  width: 100%;
  height: 1.84rem;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  float: left;
}
.s-info-container .s-info-bottom span {
  vertical-align: middle;
  float: left;
  line-height: 1.84rem;
  color: #00B600;
  margin-left: 0.04rem;
  font-size: 0.64rem;
}
.s-info-container .s-info-bottom a {
  float: right;
  color: lightgray;
  margin-right: 0.4rem;
  line-height: 1.84rem;
}
.s-button-more span {
  margin-left: 3.6rem !important;
  color: #00B600 !important;
  border: 2px solid #00B600 !important;
}
.subject-list {
  margin-top: 1.6rem !important;
  height: 6rem !important;
}
